<header class="header">
  <h1 class="logo">
    <a href="{{site.baseurl}}/" class="logo-link">{% if site.name %}{{site.name}}{% else %}Wendell Thomas{% endif %}</a>
  </h1>
  <nav class="main-menu">
    <ul>
    </ul>
  </nav>
</header>
